nav > ul{
    display: flex;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    padding: 0px 20px;
    color: black;
}
nav a:hover{
    background-color: lightgray;
    border-radius: 5px;
}
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: lightcyan;
}
nav li:hover .dropdown{
    display: block;
}